<!DOCTYPE html>
<html>
  <head>
    <!-- <script src="https://install.idpartner.com/script.js"></script> -->
    <!-- <script src="http://localhost:4004/script.js"></script> -->
    <script src="https://install.idpartner.com/script.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <id-partner id="CHANGE_ME_CLIENT_ID">
  </body>
</html>
